:root {
    --financas: #662483;
}

@media only screen and (min-width: 768px) {

    table>thead,
    table>tbody {
        border: solid 2px var(--financas);
    }

    table>tbody>tr:nth-child(even)>td {
        background-color: #f8f3fb !important;
    }
}

@media only screen and (max-width: 767px) {

    table thead,
    table colgroup {
        display: none;
    }

    table tbody {
        display: flex;
        flex-wrap: wrap !important;
        flex-direction: column;
        gap: 10px;
    }

    table tbody tr {
        position: relative;
        border: 2px solid var(--financas) !important;
        margin: 0;
    }

    table tbody tr,
    table tbody td {
        display: block;
        border-radius: 5px;
    }

    table tbody td {
        text-align: left !important;
        padding: 0px !important;
        min-width: max-content;
        line-height: 3rem;
    }

    table tbody td:before {
        content: attr(data-name);
        min-width: max-content;
        width: 150px;
        display: inline-block;
        background-color: var(--financas);
        margin-right: 5px;
        padding: 0px 5px;
        color: white;
    }

    table tbody td.acao-tabela {
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: transparent !important;
    }
}