/* #region bell notification button animations */

/* #region keyframes */
@keyframes col {
    0% {
        transform: scale(1) translate(0, 0);
    }

    10% {
        transform: scale(1.1) translate(0, 0);
    }

    75% {
        transform: scale(1) translate(0, 0);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }

}

@keyframes bord-pop {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.9);
        opacity: 0.1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.9);
        opacity: 0;
    }

}

@keyframes bell-ring {
    0% {
        transform: translate(-50%, -50%);
    }

    5%,
    15% {
        transform: translate(-50%, -50%) rotate(25deg);
    }

    10%,
    20% {
        transform: translate(-50%, -50%) rotate(-25deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

/* #endregion */

/* #region animation classes */
.animate-bell {
    animation: col 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
}

.animate-bell-border {
    animation: bord-pop 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
}

.animate-bell-icon {
    animation: bell-ring 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
}

/* #endregion */

/* #endregion */