/* #region bell button */
#bell {
    opacity: 0;
    width: 60px;
    height: 60px;
    display: none;
    background: #7844E8;
    box-shadow: -1px 2px 10px #999;
}

#bell:hover {
    cursor: pointer;
    background: #5b34af;
}

#bell:hover #notifications-count {
    background-color: #b92b20;
}

#bell #bell-border {
    width: 60px;
    height: 60px;
    border: 1px solid #7844E8 !important;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
}

#bell .bell-icon {
    color: white;
    font-size: 20px;
}

#bell,
#bell #bell-border,
#bell .bell-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
}

#bell #notifications-count {
    position: absolute;
    top: 0px;
    right: 0;

    opacity: 1;
    z-index: 1;
    width: 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    background-color: #da3225;
    box-shadow: 0 0 3px 2px #32333b38;
}

/* #endregion */

/* #region message view card */
#msg-view-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;
    border-radius: 5px;
}

#msg-view-card::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    content: "";
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: none;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.04);
}

#msg-view-card card {
    display: none;
    opacity: 0;
    background-color: #333f48;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* #region accordion */
.accordion {
    font-size: 1rem;
    width: 30vw;
    margin: 0 auto;
    border-radius: 5px;
}

.accordion-header,
.accordion-body {
    background: white;
}

.accordion-header {
    padding: 1.5em 1.5em;
    background: #3F51B5;
    color: white;
    cursor: pointer;
    font-size: .7em;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
}

.accordion__item {
    border-bottom: 1px solid #3a4ba4;
}

.accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
    background: #2D3D99;
    position: relative;
    z-index: 5;
}

.accordion-body {
    background: #fcfcfc;
    color: #353535;
    display: none;
}

.accordion-content {
    padding: 1.5em 1.5em;
    font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
    border-radius: none;
}

.accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item>.accordion-header:after {
    content: "\f3d0";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
}

.accordion__item.active>.accordion-header:after {
    transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
    background: #2D3D99;
}

.accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 1em;
    }

    .accordion {
        width: 100%;
    }
}

/* #endregion */

/* #endregion */
/* #endregion */