/* #region Keyframes */
@keyframes increase-scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

@keyframes decrease-scale {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes update-radial-progress-bar-1 {
    0% {
        transform: rotate(var(--current-rotation-value));
    }
    100% {
        transform: rotate(var(--next-rotation-value));  
    }
}

@keyframes update-radial-progress-bar-2 {
    0% {
        transform: rotate(var(--current-rotation-value));
    }
    100% {
        transform: rotate(var(--next-rotation-value));  
    }
}
/* #endregion */

/* #region Animation Classes */
.increase-scale {
    animation: increase-scale .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.decrease-scale {
    animation: decrease-scale .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.update-radial-progress-bar-1 {
    animation: update-radial-progress-bar-1 .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.update-radial-progress-bar-2 {
    animation: update-radial-progress-bar-2 .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
/* #endregion */