.progress {
    width: 60%;
    height: 4px;
    bottom: 55%;
}

/* #region Mobile Step Progress Bar */
#radial-wrap,
#mask-1,
#mask-2,
.full {
    width: 80px;
    height: 80px;
}

#mask-1,
#mask-2 {
    clip: rect(0px, 80px, 80px, 40px);
}

#mask-1,
.full {
    transform: rotate(var(--next-value));
}

.full {
    clip: rect(0px, 40px, 80px, 0px);
}

#inside-circle {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
/* #endregion */