.progress {
    width: 60%;
    height: 4px;
    bottom: 55%;
}

/* #region Desktop Step Progress Bar */
.checked i {
    background-color: #198754;
    animation: decrease-scale .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.checking i {
    background-color: #ffc107;
    transition-delay: .3s;
    transition-property: background-color;

    animation: increase-scale .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.unchecked i {
    background-color: #6c757d;
    animation: decrease-scale .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
/* #endregion */

/* #region Mobile Step Progress Bar */
#radial-wrap,
#full-mask,
#half-mask,
#full,
#half {
    width: 80px;
    height: 80px;
}

#full-mask,
#half-mask {
    clip: rect(0px, 80px, 80px, 40px);
}

#full-mask,
#full,
#half {
    transform: rotate(var(--next-rotation-value));
}

#full,
#half {
    clip: rect(0px, 40px, 80px, 0px);
}

#inside-circle {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
/* #endregion */